<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzzj.application.mapper.EdApplicationUseExpertMapper">

    <resultMap type="EdApplicationUseExpert" id="EdApplicationUseExpertResult">
        <result property="edApplicationUseId"    column="ed_application_use_id"    />
        <result property="activityName"    column="activity_name"    />
        <result property="activityProfile"    column="activity_profile"    />
        <result property="reason"    column="reason"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="timeRequirements"    column="time_requirements"    />
        <result property="joinType"    column="join_type"    />
        <result property="unit"    column="unit"    />
        <result property="applicantUnit"    column="applicant_unit"    />
        <result property="applicantFile"    column="applicant_file"    />
        <result property="applicantNum"    column="applicant_num"    />
        <result property="expertType"    column="expert_type"    />
        <result property="fieldRequirement"    column="field_requirement"    />
        <result property="territorialRequirement"    column="territorial_requirement"    />
        <result property="otherRequirement"    column="other_requirement"    />
        <result property="isVerify"    column="is_verify"    />
        <result property="remark"    column="remark"    />
        <result property="isConfirmationList"    column="is_confirmation_list"    />
        <result property="verifyTime"    column="verify_time"    />
        <result property="verifyBy"    column="verify_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isSubmit"    column="is_submit"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="projectStatus"    column="project_status"    />
    </resultMap>

    <resultMap type="EdApplicationUseExpertAttach" id="EdApplicationUseExpertAttachResult">
        <result property="edApplicationUseExpertAttachId"    column="sub_ed_application_use_expert_attach_id"    />
        <result property="attachName"    column="sub_attach_name"    />
        <result property="attachUrl"    column="sub_attach_url"    />
        <result property="attachType"    column="sub_attach_type"    />
        <result property="useApplicationId"    column="sub_use_application_id"    />
        <result property="createTime"    column="sub_create_time"    />
    </resultMap>

    <resultMap type="EdApplicationEvaluation" id="EdApplicationEvaluationResult">
        <result property="edApplicationEvaluationId"    column="sub_ed_application_evaluation_id"/>
        <result property="edApplicationUseId"    column="sub_ed_application_use_id"    />
        <result property="edExpertInfoId"    column="sub_ed_expert_info_id"    />
        <result property="isJoin"    column="sub_is_join"    />
        <result property="remark"    column="sub_remark"    />
        <result property="score"    column="sub_score"    />
        <result property="evaluationKeywords"    column="sub_evaluation_keywords"    />
        <result property="delFlag"    column="sub_del_flag"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="userId"    column="user_id"    />

    </resultMap>


    <resultMap id="EdApplicationUseExpertEdApplicationEvaluationResult" type="EdApplicationUseExpert" extends="EdApplicationUseExpertResult">
        <collection property="edApplicationEvaluationList" ofType="EdApplicationEvaluation" column="ed_application_use_id" select="selectEdApplicationEvaluationList" />
    </resultMap>

    <resultMap id="EdApplicationUseExpertEdApplicationEvaluationResult2" type="EdApplicationUseExpert" extends="EdApplicationUseExpertResult">
        <collection property="edApplicationEvaluationList" notNullColumn="sub_ed_application_evaluation_id" javaType="java.util.List" resultMap="EdApplicationEvaluationResult" />
        <collection property="edApplicationUseExpertAttachList" notNullColumn="sub_ed_application_use_expert_attach_id" javaType="java.util.List" resultMap="EdApplicationUseExpertAttachResult" />
    </resultMap>

    <sql id="selectEdApplicationUseExpertVo">
        select ed_application_use_id, activity_name, activity_profile, reason, begin_time, end_time, time_requirements, join_type, unit, applicant_unit, applicant_file, applicant_num, expert_type, field_requirement, territorial_requirement, other_requirement, is_verify,verify_by, remark, is_confirmation_list, is_submit, submit_time, verify_time, del_flag, create_by, create_time, update_by, update_time from ed_application_use_expert
    </sql>

    <select id="selectEdApplicationUseExpertList" parameterType="EdApplicationUseExpert" resultMap="EdApplicationUseExpertResult">
        <include refid="selectEdApplicationUseExpertVo"/>
        <where>
            <if test="activityName != null  and activityName != ''"> and activity_name like concat('%', #{activityName}, '%')</if>
            <if test="activityProfile != null  and activityProfile != ''"> and activity_profile = #{activityProfile}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="beginTime != null "> and begin_time &gt;= #{beginTime}</if>
            <if test="endTime != null "> and end_time &lt;= #{endTime}</if>
            <if test="timeRequirements != null  and timeRequirements != ''"> and time_requirements = #{timeRequirements}</if>
            <if test="joinType != null  and joinType != ''"> and join_type = #{joinType}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="applicantUnit != null  and applicantUnit != ''"> and applicant_unit = #{applicantUnit}</if>
            <if test="applicantFile != null  and applicantFile != ''"> and applicant_file = #{applicantFile}</if>
            <if test="applicantNum != null "> and applicant_num = #{applicantNum}</if>
            <if test="expertType != null  and expertType != ''"> and expert_type = #{expertType}</if>
            <if test="fieldRequirement != null  and fieldRequirement != ''"> and field_requirement = #{fieldRequirement}</if>
            <if test="territorialRequirement != null  and territorialRequirement != ''"> and territorial_requirement = #{territorialRequirement}</if>
            <if test="otherRequirement != null  and otherRequirement != ''"> and other_requirement = #{otherRequirement}</if>
            <if test="isVerify != null  and isVerify != ''"> and is_verify = #{isVerify}</if>
            <if test="verifyBy != null  and verifyBy != ''"> and verify_by = #{verifyBy}</if>
            <if test="isConfirmationList != null  and isConfirmationList != ''"> and is_confirmation_list = #{isConfirmationList}</if>
            <if test="verifyTime != null "> and verify_time = #{verifyTime}</if>
            <if test="isSubmit != null  and isSubmit != ''"> and is_submit = #{isSubmit}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
            <if test="createBy != null "> and create_by = #{createBy}</if>
        </where>
        order by is_verify desc,create_time
    </select>

<!--    <select id="selectEdApplicationUseExpertByEdApplicationUseId" parameterType="Long" resultMap="EdApplicationUseExpertEdApplicationEvaluationResult">-->
<!--        select ed_application_use_id, activity_name, activity_profile, reason, begin_time, end_time, time_requirements, join_type, unit, applicant_unit, applicant_file, applicant_num, expert_type, field_requirement, territorial_requirement, other_requirement, is_verify, remark, is_confirmation_list, verify_time, del_flag, create_by, create_time, update_by, update_time-->
<!--        from ed_application_use_expert-->
<!--        where ed_application_use_id = #{edApplicationUseId}-->
<!--    </select>-->

    <select id="selectEdApplicationUseExpertByEdApplicationUseId" parameterType="Long" resultMap="EdApplicationUseExpertEdApplicationEvaluationResult2">
        select a.ed_application_use_id, a.activity_name, a.activity_profile, a.reason, a.begin_time, a.end_time, a.time_requirements, a.join_type, a.unit, applicant_unit, a.applicant_file, a.applicant_num, a.expert_type, a.field_requirement, a.territorial_requirement, a.other_requirement,a.is_submit,a.submit_time, a.is_verify,a.verify_by, a.remark, a.is_confirmation_list, a.verify_time, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time
        ,b.ed_application_use_expert_attach_id as sub_ed_application_use_expert_attach_id,b.attach_name as sub_attach_name,b.attach_url as sub_attach_url,b.attach_type as sub_attach_type
        ,c.ed_application_evaluation_id as sub_ed_application_evaluation_id,c.ed_application_use_id as sub_ed_application_use_id,c.ed_expert_info_id as sub_ed_expert_info_id,c.is_join as sub_is_join,c.remark as sub_remark,c.score as sub_score,c.evaluation_keywords as sub_evaluation_keywords,c.del_flag as sub_del_flag,c.create_by as sub_create_by,c.create_time as sub_create_time,c.update_by as sub_update_by,c.update_time as sub_update_time
        ,ei.user_id
        from ed_application_use_expert a
        left join ed_application_use_expert_attach b on b.ed_application_use_id = a.ed_application_use_id
        left join ed_application_evaluation c on c.ed_application_use_id = a.ed_application_use_id
        left join ed_expert_info ei on c.ed_expert_info_id = ei.ed_expert_info_id
        where a.ed_application_use_id = #{edApplicationUseId}
    </select>
<!--                 -->
    <select id="selectFutureEdApplicationUseExpert" parameterType="EdApplicationUseExpert" resultMap="EdApplicationUseExpertEdApplicationEvaluationResult2">
        select a.ed_application_use_id, a.activity_name, a.activity_profile, a.reason, a.begin_time, a.end_time, a.time_requirements, a.join_type, a.unit, applicant_unit, a.applicant_file, a.applicant_num, a.expert_type, a.field_requirement, a.territorial_requirement, a.other_requirement,a.is_submit,a.submit_time, a.is_verify,a.verify_by, a.remark, a.is_confirmation_list, a.verify_time, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time
        ,b.ed_application_evaluation_id as sub_ed_application_evaluation_id,b.ed_application_use_id as sub_ed_application_use_id,b.ed_expert_info_id as sub_ed_expert_info_id,b.is_join as sub_is_join,b.remark as sub_remark,b.score as sub_score,b.evaluation_keywords as sub_evaluation_keywords,b.del_flag as sub_del_flag,b.create_by as sub_create_by,b.create_time as sub_create_time,b.update_by as sub_update_by,b.update_time as sub_update_time
        ,c.ed_application_use_expert_attach_id as sub_ed_application_use_expert_attach_id,c.attach_name as sub_attach_name,c.attach_url as sub_attach_url,c.attach_type as sub_attach_type,
        CASE
       WHEN a.begin_time &gt; NOW() THEN '未开始'
       WHEN a.end_time &lt;= NOW() AND a.begin_time &lt;= NOW() THEN '已完成'
       ELSE '进行中'
       END AS project_status
        from ed_application_use_expert a
        left join ed_application_evaluation b on a.ed_application_use_id = b.ed_application_use_id and a.del_flag = '0' and b.del_flag = '0' and a.is_verify = '1'
        left join ed_application_use_expert_attach c on c.ed_application_use_id = a.ed_application_use_id
        where b.ed_expert_info_id = #{edExpertInfoId} and a.end_time &gt; NOW() and a.is_confirmation_list = 1
        <if test="activityName != null  and activityName != ''"> and a.activity_name like concat('%', #{activityName}, '%')</if>
        <if test="activityProfile != null  and activityProfile != ''"> and a.activity_profile = #{activityProfile}</if>
        <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
        <if test="beginTime != null "> and a.begin_time &gt;= #{beginTime}</if>
        <if test="endTime != null "> and a.begin_time &lt;= #{endTime}</if>
        order by begin_time desc
    </select>

    <select id="selectPastEdApplicationUseExpert" parameterType="EdApplicationUseExpert" resultMap="EdApplicationUseExpertEdApplicationEvaluationResult2">
        select a.ed_application_use_id, a.activity_name, a.activity_profile, a.reason, a.begin_time, a.end_time, a.time_requirements, a.join_type, a.unit, applicant_unit, a.applicant_file, a.applicant_num, a.expert_type, a.field_requirement, a.territorial_requirement, a.other_requirement,a.is_submit,a.submit_time, a.is_verify,a.verify_by, a.remark, a.is_confirmation_list, a.verify_time, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time
        ,b.ed_application_evaluation_id as sub_ed_application_evaluation_id,b.ed_application_use_id as sub_ed_application_use_id,b.ed_expert_info_id as sub_ed_expert_info_id,b.is_join as sub_is_join,b.remark as sub_remark,b.score as sub_score,b.evaluation_keywords as sub_evaluation_keywords,b.del_flag as sub_del_flag,b.create_by as sub_create_by,b.create_time as sub_create_time,b.update_by as sub_update_by,b.update_time as sub_update_time
        ,c.ed_application_use_expert_attach_id as sub_ed_application_use_expert_attach_id,c.attach_name as sub_attach_name,c.attach_url as sub_attach_url,c.attach_type as sub_attach_type,
        CASE
        WHEN a.begin_time &gt; NOW() THEN '未开始'
        WHEN a.end_time &lt;= NOW() AND a.begin_time &lt;= NOW() THEN '已完成'
        ELSE '进行中'
        END AS project_status
        from ed_application_use_expert a
        left join ed_application_evaluation b on a.ed_application_use_id = b.ed_application_use_id and a.del_flag = '0' and b.del_flag = '0' and a.is_verify = '1'
        left join ed_application_use_expert_attach c on c.ed_application_use_id = a.ed_application_use_id
        where b.ed_expert_info_id = #{edExpertInfoId} and a.end_time &lt;= NOW() and a.is_confirmation_list = 1
        <if test="activityName != null  and activityName != ''"> and a.activity_name like concat('%', #{activityName}, '%')</if>
        <if test="activityProfile != null  and activityProfile != ''"> and a.activity_profile = #{activityProfile}</if>
        <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
        <if test="beginTime != null "> and a.begin_time &gt;= #{beginTime}</if>
        <if test="endTime != null "> and a.begin_time &lt;= #{endTime}</if>
        order by begin_time desc
    </select>

    <select id="selectEdApplicationEvaluationList" resultType="EdApplicationEvaluation" resultMap="EdApplicationEvaluationResult">
        select ed_application_evaluation_id,ed_application_use_id, ed_expert_info_id, is_join, remark, score, evaluation_keywords, del_flag, create_by, create_time, update_by, update_time
        from ed_application_evaluation
        where ed_application_use_id = #{ed_application_use_id}
    </select>

    <insert id="insertEdApplicationUseExpert" parameterType="EdApplicationUseExpert" useGeneratedKeys="true" keyProperty="edApplicationUseId">
        insert into ed_application_use_expert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityName != null">activity_name,</if>
            <if test="activityProfile != null">activity_profile,</if>
            <if test="reason != null">reason,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="timeRequirements != null">time_requirements,</if>
            <if test="joinType != null">join_type,</if>
            <if test="unit != null">unit,</if>
            <if test="applicantUnit != null">applicant_unit,</if>
            <if test="applicantFile != null">applicant_file,</if>
            <if test="applicantNum != null">applicant_num,</if>
            <if test="expertType != null">expert_type,</if>
            <if test="fieldRequirement != null">field_requirement,</if>
            <if test="territorialRequirement != null">territorial_requirement,</if>
            <if test="otherRequirement != null">other_requirement,</if>
            <if test="isSubmit != null">is_submit,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="isVerify != null">is_verify,</if>
            <if test="verifyBy != null">verify_by,</if>
            <if test="remark != null">remark,</if>
            <if test="isConfirmationList != null">is_confirmation_list,</if>
            <if test="verifyTime != null">verify_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityName != null">#{activityName},</if>
            <if test="activityProfile != null">#{activityProfile},</if>
            <if test="reason != null">#{reason},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="timeRequirements != null">#{timeRequirements},</if>
            <if test="joinType != null">#{joinType},</if>
            <if test="unit != null">#{unit},</if>
            <if test="applicantUnit != null">#{applicantUnit},</if>
            <if test="applicantFile != null">#{applicantFile},</if>
            <if test="applicantNum != null">#{applicantNum},</if>
            <if test="expertType != null">#{expertType},</if>
            <if test="fieldRequirement != null">#{fieldRequirement},</if>
            <if test="territorialRequirement != null">#{territorialRequirement},</if>
            <if test="otherRequirement != null">#{otherRequirement},</if>
            <if test="isSubmit != null">#{isSubmit},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="isVerify != null">#{isVerify},</if>
            <if test="verifyBy != null">#{verifyBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isConfirmationList != null">#{isConfirmationList},</if>
            <if test="verifyTime != null">#{verifyTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateEdApplicationUseExpert" parameterType="EdApplicationUseExpert">
        update ed_application_use_expert
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityName != null">activity_name = #{activityName},</if>
            <if test="activityProfile != null">activity_profile = #{activityProfile},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="timeRequirements != null">time_requirements = #{timeRequirements},</if>
            <if test="joinType != null">join_type = #{joinType},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="applicantUnit != null">applicant_unit = #{applicantUnit},</if>
            <if test="applicantFile != null">applicant_file = #{applicantFile},</if>
            <if test="applicantNum != null">applicant_num = #{applicantNum},</if>
            <if test="expertType != null">expert_type = #{expertType},</if>
            <if test="fieldRequirement != null">field_requirement = #{fieldRequirement},</if>
            <if test="territorialRequirement != null">territorial_requirement = #{territorialRequirement},</if>
            <if test="otherRequirement != null">other_requirement = #{otherRequirement},</if>
            <if test="isSubmit != null">is_submit = #{isSubmit},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="isVerify != null">is_verify = #{isVerify},</if>
            <if test="verifyBy != null">verify_by = #{verifyBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isConfirmationList != null">is_confirmation_list = #{isConfirmationList},</if>
            <if test="verifyTime != null">verify_time = #{verifyTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where ed_application_use_id = #{edApplicationUseId}
    </update>

    <delete id="deleteEdApplicationUseExpertByEdApplicationUseId" parameterType="Long">
        delete from ed_application_use_expert where ed_application_use_id = #{edApplicationUseId}
    </delete>

    <delete id="deleteEdApplicationUseExpertByEdApplicationUseIds" parameterType="String">
        delete from ed_application_use_expert where ed_application_use_id in
        <foreach item="edApplicationUseId" collection="array" open="(" separator="," close=")">
            #{edApplicationUseId}
        </foreach>
    </delete>

    <delete id="deleteEdApplicationEvaluationByEdApplicationUseIds" parameterType="String">
        delete from ed_application_evaluation where ed_application_use_id in
        <foreach item="edApplicationUseId" collection="array" open="(" separator="," close=")">
            #{edApplicationUseId}
        </foreach>
    </delete>

    <delete id="deleteEdApplicationEvaluationByEdApplicationUseId" parameterType="Long">
        delete from ed_application_evaluation where ed_application_use_id = #{edApplicationUseId}
    </delete>

    <insert id="batchEdApplicationEvaluation">
        insert into ed_application_evaluation( ed_application_use_id, ed_expert_info_id, is_join, remark, score, evaluation_keywords, del_flag, create_by, create_time, update_by, update_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.edApplicationUseId}, #{item.edExpertInfoId}, #{item.isJoin}, #{item.remark}, #{item.score}, #{item.evaluationKeywords}, #{item.delFlag}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>

    <delete id="deleteEdApplicationUseExpertAttachByEdApplicationUseIds" parameterType="String">
        delete from ed_application_use_expert_attach where ed_application_use_id in
        <foreach item="edApplicationUseId" collection="array" open="(" separator="," close=")">
            #{edApplicationUseId}
        </foreach>
    </delete>

    <delete id="deleteEdApplicationUseExpertAttachByEdApplicationUseId" parameterType="Long">
        delete from ed_application_use_expert_attach where ed_application_use_id = #{edApplicationUseId}
    </delete>

    <insert id="batchEdApplicationUseExpertAttach">
        insert into ed_application_use_expert_attach( ed_application_use_expert_attach_id, attach_name, attach_url, attach_type, ed_application_use_id, create_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.edApplicationUseExpertAttachId}, #{item.attachName}, #{item.attachUrl}, #{item.attachType}, #{item.edApplicationUseId}, #{item.createTime})
        </foreach>
    </insert>
</mapper>